html, body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}
a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: $link-color;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}